.wishedImage {
    border-radius: 10px;
    float: left;
    height: 210px;
    margin-left: 25px;
    margin-top: 15px;
    width: 230px;
}

.wishedItemContainer {
    background-color: rgb(66, 75, 75);
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-top: 30px;
    width: 1000px;
}

.removeButton {
    float: right;
    margin-right: 10px;
}

.wishedRating {
    align-items: center;
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: -40px;
}
/* .wishButtonsContainer {
    align-items: center;
    display: flex;
} */

.wishPrice {
    font-size: 20px;
}

.wishGenres {
    margin-top: 10px;
}