.likesButtons {
    background: none;
    border: none;
    cursor: pointer;
    height: 100px;
    width: 100px;
}

.reviewErrors {
    color: black !important;
}

.reviewButton {
    background: none;
    border: none;
    cursor: pointer;
    height: 100px;
    width: 100px;
}

.likesButtonsContainer {
    align-items: center;
    display: flex;
    margin-bottom: -10px;
    margin-top: 10px;
}

.reviewModal {
    z-index: 1;
}

.modalTitle {
    color: red !important;
    margin-top: -30px !important;
    width: 300px !important;
}

.reviewTextArea {
    text-align: center !important;
    width: 200px;
}

.spanReview {
    color: green !important;
}

.reviewImg {
    width: 90% !important;
    max-width: 200px !important;
}

.reviewImgContainer {
    text-align: center !important;
}