.img_name h4{
    margin-top:10px;
    margin-bottom: 10px;
}
.img_container img{
    width: 280px;
    border-radius: 20px 20px 0 0;
}

.description h5 {
    text-align: justify;
    margin: 5px 20px 5px 20px;
    font-size: 15px
}

.containerRating {
    align-items: center;
    display: flex;
    justify-content: left;
}

.containerStar {
    margin-left: -17px;
    width: 19px;
}

.spanPrice {
    color: rgb(3, 85, 3);
}

.addWished {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  height: 60px;
  margin-right: 10px;
  width: 60px;
}

.wishedContainer {
  background: none;
  border: none;
  /* color: white; */
  cursor: pointer;
  fill: red;
  height: 60px;
  margin-right: 10px;
  width: 60px;
}




html, body {
    width: 100%;
    height: 100%;
  }
  html {
    display: table;
  }
  
  h1, h3, p {
    margin: 0;
    text-transform: uppercase;
  }
  h1 {
    font-weight: 400;
    color: #fff;
    margin-bottom: 60px;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #fff;
  }
  p {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 2px;
  }
  .wrapper {
    position: relative;
    max-width: 670px;
    max-height: 340px;
    margin: 0 auto;
    padding: 80px 20px;
  }
  
  // Styling
  // =================================
  
  $letters: 7;
  $teal: #16e590;
  $cubic-slow: cubic-bezier(0.7, 0.01, 0.37, 1);
  
  .roll-up {
    overflow: hidden;
    position: relative;
    > span {
      display: inline-block;
      position: relative;
      @for $i from 1 through $letters {
        &:nth-child(#{$i}) {
          transition-delay: #{$i *.03}s;
        }
      }
      > span {
        display: inline-block;
        transition: .6s $cubic-slow;
        transition-delay: inherit;
        &:nth-child(1) {
          position: relative;
        }
        &:nth-child(2) {
          position: absolute;
          transform: translateY(100%);
          left: 0;
          color: $teal;
        }
      }
    }
  }
  .text-reveal {
    position: relative;
    overflow: hidden;
    span {
      display: block;
      transition: $cubic-slow 0.6s;
      color: #fff;
      
    }
    > span {
      &:nth-child(2) {
        position: absolute;
        
        top: 0;
        left: 0;
        color: #fff;
        > span {
          overflow: hidden;
          transform: translateX(-100%);
          @for $i from 1 through $letters {
            &:nth-child(#{$i}) {
              transition-delay: #{$i *.1}s;
            }
          }
          > span {
            transform: translateX(100%);
            transition-delay: inherit;
          }
        }
      }
    }
  }
  .play-button {
    display: inline-block;
    width: 70px;
    height: 70px;
    transition: 0.5s;
    svg {
      overflow: visible;
    }
    .polygon {
      fill: $teal;
      transition: transform 0.5s, fill 0.5s;
      transition-timing-function: $cubic-slow;
      transform-origin: 50% 50%;
    }
  }
  .card {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 700px;
    width: 100%;
    min-height: 300px;
    padding: 20px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    background-size: cover;
    cursor: pointer;
    margin: 0 100px 60px 0;
    &:before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    }
    .card__content {
      z-index: 1;
      .card__content--description {
        position: absolute;
        bottom: 20px;
        right: 0;
        margin-right: -80px;
        text-align: left;
        max-width: 375px;
      }
    }
    &:hover {
      // play button spin
      .play-button {
        transform: scale(1.1);
        .polygon {
          transform: translateZ(0px) rotate(90deg);
          fill: #67fbbe;
        }
      }
      // text roll
      .roll-up {
        > span {
          > span {
            &:nth-child(1) {
              transform: translateY(-100%);
            }
            &:nth-child(2) {
              transform: translateY(0);
            }
          }
        }
      }
      // paragraph reveal
      .text-reveal {
        > span:nth-child(2) > span,
        > span:nth-child(2) > span > span {
          transform: translateX(0);
        }
      }
    }
  }


  .inCart {
    z-index: 999;
  }