.Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(68, 67, 67, 0.356);
    border: 2px rgba(68, 67, 67, 0.356);
    border-radius: 20px;
    margin: 2rem;
    width: 250px;
    min-height: 50px ;
}

.img_container img{
    width: 250px;
    border-radius: 20px 20px 0 0;
}
.Platforms{
    margin: 5px;
    color:white;
}
.Price{
    margin: 5px;
}
.Name{
  align-items: center;
}