.filtroContainer {
  background-color: #202020;
  display: inline-table ;
  width: 280px;
  height: 70%;
  justify-content: left;
  padding: 10px 20px 30px 20px;
  align-items: left;
  margin: 0;
  
}
.rmsc {
  /*--rmsc-main: #4285f4;*/
  --rmsc-hover: #FAFBFC;
  --rmsc-selected: #FAFBFC;
  --rmsc-border: #ccc;
  --rmsc-gray: #aaa;
  --rmsc-bg: #FAFBFC;
  --rmsc-p: 10px; /* Spacing */
  --rmsc-radius: 4px; /* Radius */
  --rmsc-h: 30px; /* Height */
  color: #202020;
  max-width: 240px;
  font-size: 14px;
 
}

.buscar{
  width: 166px;
  background:transparent;
  flex: 1;
  border:0;
  outline: none;
  font-size:1.2rem;
  color:#FAFBFC;
}
.buscar:hover{
  color:#202020;
}
.sortBy{
  display:flex;
  justify-content: space-around;
  align-items: center;

}
.container_search{
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
}
.searchBar:hover{
  background-color: #FAFBFC;
  

}
.price_input{
  width: 50px;
  height: 30px;
  outline: none;
  text-align: center;
  color: #fff;
}


.price_input::after{
  /* Layout */
  content: "";
  position: absolute;
  bottom: -17px;
  right: -17px;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);

  /* Border */
  border-width: 2px;
  border-style: solid;
  border-color: transparent;

  /* Animation */
  transition: color 1s ease-out;
  transition: border-color 1s ease-out;
}

.price_input:hover::after,
.price_input:hover{
  color: var(--blue);
  background: var(--black-hover-background);
  
  border-color: var(--blue);

  transition: color 0.23s linear;
  transition: border-color 0.23s linear;
}









input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button{
  appearance:none;
}

.price-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchBar{
  min-width: 100px;
  width: 200px;
  height: 20px;
  display:flex;

  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  border:none;
  outline: none;
  background-color: #3B3B3B;
  color:#B1B1B1;
}

.each-price{
  display: flex;
  align-items: center;
  
  
}
.each-price label{
  margin-right: 10px;
}
.each-price input{
  border-radius: 4px;
}
/* CSS */


/* background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);*/




/* CSS */
.button-15 {
  background-color:rgb(131, 130, 130);
  border:none;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FAFBFC;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 20px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
 
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:disabled {
  cursor: default;
  opacity: .3;
}

.button-15:hover {
  background-color:#585858;
  border:none;
  text-decoration: none;
}

.button-15:active {
  
  border-color: #757575;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(208, 210, 211, 0.5) 0  0 3px 3px;
  outline: none;
  background-color:#585858;
}

.release-container input{
height: 30px;
width:240px;
border-radius: 4px;
  
 
}


.multiselect {
  background-color: black;
}

/*#buscarfiltro{
  float: left;
  
  width: 65%;
  height: 30px;
  margin-top: 28px;
  font-size: 22px;
  border: 4px solid gold;
  border-radius: 15px;
  padding-left: 12px;
  background-color: rgb(242, 238, 238);
  transition: all 400ms;
  color: rgb(144, 140, 140);
  
}
#buscarfiltro:focus{
  border: 8px solid rgb(21, 83, 217);
  margin-top: 22px;
  color: black;
  font-weight: bold;
  font-size: 28px;
}*/











:root {
  --red: rgba(211, 87, 91, 0.81);
  --red-glow: rgba(211, 87, 91, 0.91);
  --red-scanline: rgba(204, 94, 98, 0.2);
  --black-scanline: rgba(1, 1, 1, 0.9);
  --black-hover-background: rgba(0, 0, 0, 0.25);
  --blue: #61e4fa;
  --yellow: #f7f500;
  --text-shadow: rgb(0, 208, 255);
}






.logo {
  font-family: "Cyberpunk";
  color: var(--yellow);
  text-align: center;
  font-size: 42px;
  text-shadow: var(--text-shadow) 2px 3px 0px;
  line-height: 1.5;
  padding: 25px 0px;
}

.sublogo {
  font-family: "GinesoSoft-ConMed";
  font-size: 24px;
  color: var(--text-shadow);
  text-shadow: none;
  text-align: right;
  letter-spacing: 24px;
  padding-right: 15px;
}



.inputs {
  text-transform: uppercase;
  cursor: pointer;
  /* layout */
  padding: 10px;
  margin: 15px 0px;
  overflow: hidden;
  width: 350px;
  height: 54.5px;
  clip-path: polygon(350px 0px, 350px 29px, 322px 57px, 0px 57px, 0px 0px);

  /* font */
  color: #fff;
  font-size: 20px;
  text-shadow: 0px 0px 3px var(--red-glow), 0px 1px 4px var(--blue);

  /* Border */
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  /* Animation */
  transition: color 1s ease-out;
  transition: border-color 1s ease-out;
}



.inputs::after{
  /* Layout */
  content: "";
  position: absolute;
  bottom: -17px;
  right: -17px;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);

  /* Border */
  border-width: 2px;
  border-style: solid;
  border-color: transparent;

  /* Animation */
  transition: color 1s ease-out;
  transition: border-color 1s ease-out;
}

.inputs:hover::after,
.inputs:hover{
  color: var(--blue);
  background: var(--black-hover-background);
  
  border-color: var(--blue);

  transition: color 0.23s linear;
  transition: border-color 0.23s linear;
}




.container {
  background-color: transparent;
  display: inline-table;
  justify-content: left;
  height: 90%;
  margin: 0;
  max-width: 300px;
}

.container input {
  background: black;
}

.container label {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
}


.filterDiv {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2em;
  margin-bottom: 10px;
  cursor: pointer;
}

.filterDiv * {
  pointer-events: none;
}

.filterBtn {
  background-color: #2d2d2d;
  padding: 4px;
  border: 1px transparent;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
}