.home {
    background-color: #161414;
    width: 100%;
    height: 100%;
    z-index: 100;
}

body {
    background-color: #161414;
}

.containerHome {
    display: flex;
    flex-direction: column;
    align-items: normal;
}

.container_allCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:0px;
    width:100%;
}
.container_filter_cards{
display: flex;
padding-top: 50px;
padding-bottom: 50px;
}
.contain_filter{
align-self: flex-start;
margin:0 0 0 20px;
position:sticky;
top:0;

}
.not-found{
    display: flex;
    align-items: center;
    color:#FAFBFC;
    text-align: center;
}

.Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(68, 67, 67, 0.356);
    border: 2px rgba(68, 67, 67, 0.356);
    border-radius: 20px;
    margin: 0px 1rem 2rem 1rem;
    width: 280px;
    min-height: 50px ;
    /* height: 475px; */
    text-align: center;
    transition: .4s;
    
}

.Card:hover{
    /* transform: scale(1.1); */
    background-color: rgba(225, 217, 217, 0.356);
    border: 4px rgba(68, 67, 67, 0.356);
} 

.addButton {
    background: none;
    border: none;
    cursor: pointer;
    height: 60px;
    margin-right: 10px;
    width: 60px;
}

.inCart {
    background: none;
    border: none;
    color: green;
    cursor: pointer;
    height: 50px;
    margin-right: 20px;
    width: 55px;
}

.buttonsContainer {
    align-items: center;
    display: flex;
}

.addWished {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    height: 60px;
    margin-right: 10px;
    width: 60px;
}

.wishedContainer {
    background: none;
    border: none;
    /* color: white; */
    cursor: pointer;
    fill: red;
    height: 60px;
    margin-right: 10px;
    width: 60px;
}

.floatContainer {
    display: inline;
    position:fixed;
	width: 80px;
	height: 80px;
	bottom: 40px;
	right: 20px;
	background-color: white;
	border-radius:50px;
	text-align: center;
    transition: .4s;
	box-shadow: 2px 2px 3px rgb(51, 94, 211);
}

.floatContainer:hover{
    transform: scale(1.1);
    cursor: pointer;
    /* background-color: rgba(225, 217, 217, 0.356); */
    border: 4px rgba(68, 67, 67, 0.356);
}

.float {
    /* display: inline; */
    margin-left: 14px;
    width: 50px;
	height: 50px;
}

.cartLink {
    color:rgb(127, 62, 211);
    text-decoration: none;
}

