.loadingContainer {
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    height: 634px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.loader {
    align-items: center;
    animation: rotation 0.5s linear infinite;
    background: rgb(2, 0, 36);
    background: linear-gradient(
    43deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
    );
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 10px;
    width: 50px;
}

.loader div {
    background-color: white;
    border-radius: 50%;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
}

@keyframes rotation {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(358deg);
    }
}