.confirmButton {
    background: none;
    border: none;
    cursor: pointer;
    height: 50px;
    /* margin-left: -10px; */
    width: 50px;
}

.cancelButton {
    background: none;
    border: none;
    cursor: pointer;
    height: 50px;
    /* margin-left: -10px; */
    width: 50px;
}

.modalContainer {
    align-items: center;
    display: flex;
    margin-left: 10px;
}