@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

#page_profile_all_container{
  height: 100vh;
  overflow: hidden;
}

#profile_show_general_container{
  height: 92vh;
}

#profile_show_header_container{
    display: grid;
    grid-template-columns: 25% 75%;
    font-family: 'Arvo', serif;
    height: 40vh;
}

.overflow_profile_activity{
  overflow-y: scroll;
}

#load_more_profile{
  cursor: pointer;
  background-color: #161414;
  text-align: center;
}


.profile_real_name{
  text-align: center;
}
.profile_joined_card{
  text-align: center;
}

#lower_profile_section{
  font-family: 'Arvo', serif;
  display: grid;
    grid-template-columns: 25% 75%;
    height: 52vh;
    
}
.friends_icon_profile{
  height: 90px ;
  width: 90px ;
  border-radius: 100%;
  
}

.profile_friends_title{
  width: 100%;
  margin-top: 1em;
  text-align: center;
  font-family: 'Arvo', serif;
  background-color: #161414;
}

.no_friends_jajjaa{
text-align: center;
}

.friends_icons_container{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 height: 100%;
 width: 100%;
 overflow-y: auto;
 background-color: #161414;
}

.cj314hn124{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
  margin-left: 20px;
}

.background_color_profile_h2{
  background-color: #161414;
}

#profile_show_image{
    height: 350px;
    width: 350px;
    margin: 30px;
    border-radius: 100%;
}

#profile_show_username{
    font-family: 'Arvo', serif;
    font-size: 96px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #161414;
}
.block:hover{
  transform: scale(1.3);
}

#profile_show_image_nationality{
    border-radius: 100%;
    height: 45px;
    width: 40px;
    z-index: 1;
}
#profile_show_cards_datas{
    display: flex;
    justify-content: space-around;
}

.profile_show_card_data{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.profile_show_card_data_click{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer !important;
  }









#profile_show_image_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#profile_activity_container{
  width: 70vw;
  margin: 1em;
  overflow-y: scroll;

}

.profile_activity_recent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 1em;
  margin: 1em;
  background-color: #282c34;
  border-radius: 5%;
}

.profile_activity_newgames{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 1em;
  overflow-y: auto;
}

/* botones de añadir eliminar etc*/

.user_profile_add_etc_options{
  position: absolute;
  margin-left: -49px;
  margin-top: -105px;
  
}
.user_profile_add_etc_options_single{
  position: absolute;
  margin-left: 0px;
  margin-top: 306px;
  
}

.icon-btnprofile {
    background-color: red;
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
    
  }
  
  .add-btnprofile:hover {
    width: 120px;
  }
  
  .add-btnprofile::before,
  .add-btnprofile::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: seagreen;
  }

 

  
  .add-btnprofile::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btnprofile::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .icon-btnprofile:focus {
    outline: none;
  }
  
  .btn-txtprofile {
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .add-btnprofile:hover::before,
  .add-btnprofile:hover::after {
    width: 4px;
    border-radius: 2px;
  }
  
  .add-btnprofile:hover .btn-txtprofile {
    opacity: 1;
  }
  
  .add-iconprofile::after,
  .add-iconprofile::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: seagreen;
    overflow: hidden;
  }

 

  
  
  .add-iconprofile::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .add-iconprofile::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btnprofile:hover .add-iconprofile::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  
  .add-btnprofile:hover .add-iconprofile::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }

  /* From uiverse.io by @mrhyddenn */
.icon-btnprofile_red {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: inherit;
  
}

.add-btnprofile_red:hover {
  width: 120px;
}

.add-btnprofile_red::before,
.add-btnprofile_red::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: rgb(255, 0, 0);
}




.add-btnprofile_red::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btnprofile_red::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btnprofile_red:focus {
  outline: none;
}

.btn-txtprofile_red {
  opacity: 0;
  transition: opacity 0.2s;
}

.add-btnprofile_red:hover::before,
.add-btnprofile_red:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btnprofile_red:hover .btn-txtprofile_red {
  opacity: 1;
}

.add-iconprofile_red::after,
.add-iconprofile_red::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: rgb(255, 1, 1);
  overflow: hidden;
}





.add-iconprofile_red::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-iconprofile_red::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btnprofile_red:hover .add-iconprofile_red::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btnprofile_red:hover .add-iconprofile_red::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

/* Cards Copadas*/

/* From uiverse.io by @bhaveshxrawat */
.profile_show_card_data {
  width: 190px;
  height: 254px;
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.profile_show_card_data h2 {
  z-index: 1;
  color: white;
}

.profile_show_card_data::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}



@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.profile_show_card_data::after {
  content: '';
  position: absolute;
  background: #07182E;
  inset: 5px;
  border-radius: 15px;
}  

.profile_show_card_data:hover {
  background-color: blue;
  transform: scale(1.3);
}  

/* photo animation */
.block {
  position: relative;
  margin: 1em;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  background: linear-gradient(0deg, #000, #272727);
}

.block:before, .block:after {
  border-radius: 100%;
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(50px);
}

/*
 *  Red ScrollBar
 */

 .friends_icons_container::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
   border-radius: 10px;
   background-color: #f80303;
 }
 
 .friends_icons_container::-webkit-scrollbar
 {
   width: 12px;
   background-color: #902323;
 }
 
 .friends_icons_container::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   background-color: #D62929;
   background-image: -webkit-linear-gradient(90deg,
                         transparent,
                         rgba(0, 0, 0, 0.4) 50%,
                         transparent,
                         transparent)
 }



 @media (max-width: 950px) {
  #profile_show_image{
    width: 120px;
    height: 120px;
  }

  #profile_show_image_container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #profile_show_username{
    font-size: 20px;
  }

  .profile_show_card_data{
    width: 100px;
    height: 150px;
    font-size: 10px;
  }

  #profile_show_cards_datas{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
  }

  .animated_block_of_data{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  #profile_show_header_container{
    height: 52vh;
  }
  
  #lower_profile_section{
    width: 100%;
    height: 40vh;
  }

  .friends_icons_container{
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .friends_icon_profile{
    width: 50px;
    height: 50px;
  }
  
  .block{
    width: 50px;
    height: 50px;
  }

  .user_profile_add_etc_options_single{
    margin-top: 104px;
  }

  
  .profile_activity_newgames{
    display: flex;
    flex-direction: column;
  }

  

}