.container {
    text-align: center;
}

.img {
    height: 300px;
    width: 300px;
}

.buttonContainer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
}

.button {
    background: none;
    border: none;
    color: rgb(194, 17, 17);
    cursor: pointer;
    display: block;
    font-size: 30px;
    padding: 10px;
    /* text-align: center; */
    text-decoration: none;
}