.button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
}

.dropdownmenu{
    display: none;
}
.userMenu:hover .dropdownmenu{
  display: inline;
  position: fixed;
  background-color: white;
  padding: 1em;
  z-index: 99;
}

.linkStyle {
    color: white;
    display: block;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
}
.linkStyle:hover{
    color:#52C9F1;
}

.navContainer {
    background-color: #202020;
    display: flex;
    gap: 5px;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}
.left_container{
    display: flex;
    width:40%;
    justify-content: center;
    
}
.logo{
    height:60px;
    width:200px;

}
.right_container{
    display: flex;
    width:40%;
    justify-content: center;
}

.logedin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: black;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: black;
}

.logo{
    color: white;
    font-size: 30px;
    max-height: 25px;
    line-height: 19px;
}

.span{
    color: #ea1538;
}

/* nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #ea1538;
    transition: .4s;
} */

.boton{
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

.boton:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.cartIcon {
    height: 50px;
    width: 80px;
}




















.navbar-text button {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
      position: relative;
      background-color: var(--background-color);
      transition: 0.3s ease-in-out;
      --background-color: transparent;
      --accent-color: #fff;
  }
  .navbar-text button span {
    z-index: 1;
  }
  .navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: var(--accent-color);
    left: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .navbar-text button:hover {
    color: #121212;
    background-color: #fff;
    
  }
  .navbar-text button:hover::before {
    
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
  }
  nav.navbar .navbar-toggler:active,
  nav.navbar .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
  }
  nav.navbar .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #fff;
    transition: all 300ms linear;
    top: -2px;
  }
  nav.navbar .navbar-toggler-icon:focus {
      border-bottom: 2px solid #fff;
  }
  nav.navbar .navbar-toggler-icon:after,
  nav.navbar .navbar-toggler-icon:before {
      width: 24px;
      position: absolute;
      height: 2px;
      background-color: #fff;
      top: 0;
      left: 0;
      content: '';
      z-index: 2;
      transition: all 300ms linear;
  }
  nav.navbar .navbar-toggler-icon:after {
      top: 8px;
  }
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
      transform: rotate(45deg);
      background-color: #fff;
      height: 2px;
  }
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
      transform: translateY(8px) rotate(-45deg);
      background-color: #fff;
      height: 2px;
  }
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
      border-color: transparent;
  }



  /*Menú desplegable*/

  .menu-icon{
    --dark-color: #1b182b;
    --ligth-color: #322f40;
    --text-color: #fff;
    margin: 0 0 auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background: var(--ligth-color);
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
    margin-top: 1%;
  }

  .menu-icon div{
    display: block;
    background: var(--text-color);
    height: 2px;
    width: 25px;
    transition: 0.3s;
  }

  .move .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .move .line2{
    opacity: 0;
  }

  .move .line3{
    transform: rotate(45deg) translate(-5px, -5px);
  }

  .menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 14, 0.9);
    z-index: 106;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: 0.5s;
    clip-path: circle(0% at 100% 0%)
  }

  .menu.active {
    clip-path: circle(144% at 100% 0%);
  }

  .menu img {
    width: 700px;
  }

  .nnavbar {
    display: grid;
    row-gap: 1rem;
    text-align: right;
    padding-right: 2rem;
  }

  .links {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
  }