.button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
}

.linkStyle {
    color: white;
    display: block;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
}
.linkStyle:hover{
    color:#52C9F1;
}

.navContainer {
    background-color: #202020;
    display: flex;
    gap: 5px;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}
.left_container{
    display: flex;
    width:40%;
    justify-content: center;
    
}
.logo{
    height:60px;
    width:200px;

}
.right_container{
    display: flex;
    width:40%;
    justify-content: center;
}

.logedin{
    display: flex;
    width:40%;
    justify-content: center;
}